*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #efefef; */
}

#main-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}